/* Main */

body {
  margin: 0;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Inter", Arial, Tahoma, sans-serif;
  padding: 0 10px;
}

.page-wrapper {
  width: 420px;
  height: 780px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 50px #000000;
}

header {
  font-family: "Smythe", system-ui;
  background-image: url("./images/banner.png");
  background-size: cover;
  color: white;
  padding: 18px 30px;
  text-align: left;
}

h1 {
  font-size: 30px;
  line-height: 0.5;
  font-weight: 600;
  letter-spacing: 2.2px;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

main {
  color: #202020;
  overflow-y: auto;
}

/* Menu */

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 25px 20px 25px;
}

.menu-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  border-bottom: 1px solid #d2d2d2;
  padding: 5px 0 10px 0;
}

.item-left-container {
  display: flex;
  gap: 15px;
}

.item-emoji {
  font-size: 55px;
  margin-top: 8px;
}

.item-name {
  font-weight: 500;
  line-height: 0;
  font-size: 18px;
}

.item-ingredients {
  font-size: 12px;
  color: #8b8b8b;
}

.item-price {
  margin-top: 10px;
  font-size: 14px;
}

.item-btn {
  border: 1px solid #dedede;
  border-radius: 100%;
  background-color: #ffffff;
  color: #3c3c3c;
  cursor: pointer;
  font-size: 24px;
  font-weight: 200;
  width: 36px;
  height: 36px;
  margin-top: 2px;
  transition: 0.3s;
}

.item-btn:hover {
  border: none;
  background-color: #16db99;
  color: #ffffff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.item-btn:active {
  scale: 0.95;
  box-shadow: none;
}

/* Order Display */

.order-display-container {
  padding: 0 25px 20px 25px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.order-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -5px;
}

.left-order-item-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.order-item-name,
.total-price-text {
  font-size: 18px;
  line-height: 0;
}

.order-item-price,
.total-price {
  font-size: 14px;
}

.order-heading {
  text-align: center;
  font-weight: 600;
  line-height: 0.3;
  font-size: 20px;
}

hr {
  margin: 0;
  margin-bottom: 3px;
  border: none;
  border-top: solid 2px #453d3d;
  width: 100%;
}

.remove-item-btn {
  border: none;
  background: none;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  color: #6a6a6a;
  width: fit-content;
  height: fit-content;
  margin-top: 3px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

.remove-item-btn:hover {
  opacity: 1;
  color: #565656;
}

.complete-order-btn,
.pay-btn {
  background-color: #16db99;
  color: #ffffff;
  width: 100%;
  margin-top: 10px;
  border: none;
  font-weight: 600;
  padding: 14px 0;
  border-radius: 2px;
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.3s;
}

.complete-order-btn:hover,
.pay-btn:hover {
  background-color: #12b47e;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.complete-order-btn:active,
.pay-btn:active {
  box-shadow: 0 0.5px 5px rgba(0, 0, 0, 0.2);
  scale: 0.98;
}

.complete-order-btn {
  font-size: 14px;
}

/* Modal */

.payment-modal {
  position: fixed;
  top: 34%;
  left: 34%;
  display: none;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.8);
  width: 320px;
}

.payment-modal-heading {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

.pay-btn {
  font-size: 16px;
}

#payment-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#payment-form > input {
  border: solid 1px #757575;
  border-radius: 2px;
  font-size: 16px;
  padding: 14px 10px;
}

/* Hide payment modal inputs default side arrows */

#payment-form > input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#payment-form > input[type="number"] {
  -moz-appearance: textfield;
}

/* Confirmation message */

.confirmation-message {
  margin: 10px 25px;
  padding: 2px;
  border-radius: 2px;
  background-color: #d5fff2;
  color: #12b47e;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
